<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_commerce_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_commerce_app">
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".contact_us"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".trousers"
            android:exported="false" />
        <activity
            android:name=".update_new_item"
            android:exported="false" />
        <activity
            android:name=".shipping_address"
            android:exported="false" />
        <activity
            android:name=".tshirts"
            android:exported="false" />
        <activity
            android:name=".fragment_trouser"
            android:exported="false" />
        <activity
            android:name=".privacy_policy"
            android:exported="false" />
        <activity
            android:name=".first"
            android:exported="false" />
        <activity
            android:name=".sample"
            android:exported="false" />
        <activity
            android:name=".product_add"
            android:exported="false" />
        <activity
            android:name=".reset_password"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".notification_settings"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".shoes"
            android:exported="false" />
        <activity
            android:name=".jewelry"
            android:exported="false" />
        <activity
            android:name=".bags"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".chnage_order"
            android:exported="false" />
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".admin_product_view"
            android:exported="false" />
        <activity
            android:name=".buy_now"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".activity_your_order"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>